body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #282c34; 
    color: #ffffff; 
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); 
}

#sidebar.closed {
    width: 0;
    padding-top: 0;
}

#sidebar .closebtn {
    color: white;
    font-size: 30px;
    margin-left: 10px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s; 
}

#sidebar .closebtn:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    border-radius: 5px; 
}

#sidebar .dropdown {
    margin-top: 20px; 
    padding: 10px; 
    display: block; 
}

#sidebar .dropdown h3 {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 24px; 
    color: #ffcc00; 
}

#sidebar .dropdown a {
    padding: 10px 15px;
    text-decoration: none;
    display: block; 
    font-size: 16px;
    color: #ffffff; 
    
    border-radius: 5px;
    transition: 0.3s; 
}

#sidebar .dropdown a:hover {
    background-color: rgba(255, 204, 0, 0.2); 
}

.openbtn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 2;
}

#main {
    margin-left: 250px; 
    transition: margin-left 0.5s;
}

#container {
    display: flex; 
    justify-content: space-between; 
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

#form-container, #product-list-container {
    width: 48%; 
    border: 2px solid yellow; 
    border-radius: 5px;
    padding: 20px; 
    background-color: #333; 
}

#form-container {
    margin-right: 5px; 
}

#product-list-container {
    margin-left: 5px; 
}

h2 {
    text-align: center;
}

label {
    margin: 3px 0; 
}

input[type="text"],
input[type="number"],
textarea {
    width: calc(100% - 6px); 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    margin: 3px 0; 
}

textarea {
    resize: none; 
}

button {
    background-color: yellow;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 10px; 
}

button:hover {
    background-color: #ffc107;
}

#productList {
    list-style-type: none;
    padding: 0;
}

#productList li {
    background: #444;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid yellow; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

#productList li button {
    background-color: yellow; 
    color: black; 
    border: none; 
    padding: 5px 10px; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 1px;
}

#productList li button:hover {
    background-color: #b8b814 ; 
}

#notification {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid yellow;
    background-color: #333;
    color: yellow;
}

.hidden {
    display: none;
}

